.form {
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-top: 10%;
}

.form {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

input {
    width: 15%;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    background-color: bisque;
}

